<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subject</title>

  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <div class="container">
    <div class="profile">
      <img src="logo.png" alt="">
      <span>@profile_name</span>
    </div>
    
    <a href="math" class="btn" id="math">Математика</a>
    <a href="russian" class="btn" id="russian">Русский язык</a>
    <a href="english" class="btn" id="english">Английский язык</a>
    <a href="other" class="btn" id="other">Другое</a>
  </div>
</body>
</html>